.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 21.44px;
}

.btnPagination {
    width: 80px;
    border: 1px solid #0037ED54;
    border-radius: 8px;
    background-color: #0031D2C1;
    color: white;
}

.btnPagination:hover {
    cursor: pointer;
    background-color: #0044FF2D;
    color: #001046E0;
}